@textColorMain: #333;
@themeColors: #d33a31;

@navBarHeight: .9rem;
@playBarHeight: .88rem;
@foundMusicTopBarHeight: .7rem;
@baseOffset: .1rem;


//朋友圈页面
@friendBg:#f3f4f6;
@friendUserColor:#728dac;
@friendRecentTime:#adaeb2;
@friendAccordion:#be3640;
@friendListMarginTop:.4rem;
@friendBothOffset:0 .2rem 0 .1rem;
@friendContentMargin:.16rem 0 0 .8rem;
